.App {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, var(--bg-primary-color), var(--bg-secondary-color));
}